
.icon-snow-heavy-inv:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-emo-happy:before { content: '\e802'; } /* '' */
.icon-anonymous:before { content: '\e803'; } /* '' */
.icon-mic:before { content: '\e804'; } /* '' */
.icon-clear:before { content: '\e805'; } /* '' */
.icon-sign-in:before { content: '\e806'; } /* '' */
.icon-italic:before { content: '\e807'; } /* '' */
.icon-bold:before { content: '\e808'; } /* '' */
.icon-text:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-quote-left:before { content: '\e80b'; } /* '' */
.icon-wrench:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-settings:before { content: '\e80e'; } /* '' */
.icon-login:before { content: '\e80f'; } /* '' */
.icon-mute:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-user-secret:before { content: '\e812'; } /* '' */
.icon-man:before { content: '\e813'; } /* '' */
.icon-woman:before { content: '\e814'; } /* '' */
.icon-skull:before { content: '\e815'; } /* '' */
.icon-register:before { content: '\e816'; } /* '' */
.icon-boy:before { content: '\e817'; } /* '' */
.icon-girl:before { content: '\e818'; } /* '' */
.icon-add:before { content: '\e819'; } /* '' */
.icon-remove:before { content: '\e81a'; } /* '' */
.icon-sign-out:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */
.icon-volume-off:before { content: '\e81e'; } /* '' */
.icon-volume-1:before { content: '\e81f'; } /* '' */
.icon-volume-2:before { content: '\e820'; } /* '' */
.icon-volume-3:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e823'; } /* '' */
.icon-cog:before { content: '\e824'; } /* '' */
.icon-emo-laugh:before { content: '\e825'; } /* '' */
.icon-emo-squint:before { content: '\e826'; } /* '' */
.icon-emo-shoot:before { content: '\e827'; } /* '' */
.icon-emo-cry:before { content: '\e828'; } /* '' */
.icon-emo-saint:before { content: '\e829'; } /* '' */
.icon-emo-angry:before { content: '\e82a'; } /* '' */
.icon-emo-grin:before { content: '\e82b'; } /* '' */
.icon-emo-beer:before { content: '\e82c'; } /* '' */
.icon-emo-displeased:before { content: '\e82d'; } /* '' */
.icon-emo-sunglasses:before { content: '\e82e'; } /* '' */
.icon-emo-coffee:before { content: '\e82f'; } /* '' */
.icon-emo-surprised:before { content: '\e830'; } /* '' */
.icon-emo-tongue:before { content: '\e831'; } /* '' */
.icon-emo-devil:before { content: '\e832'; } /* '' */
.icon-emo-thumbsup:before { content: '\e833'; } /* '' */
.icon-emo-sleep:before { content: '\e834'; } /* '' */
.icon-emo-unhappy:before { content: '\e835'; } /* '' */
.icon-emo-wink2:before { content: '\e836'; } /* '' */
.icon-emo-wink:before { content: '\e837'; } /* '' */
.icon-chart-area:before { content: '\e838'; } /* '' */
.icon-chart-pie:before { content: '\e839'; } /* '' */
.icon-chart-line:before { content: '\e83a'; } /* '' */
.icon-santa-hat:before { content: '\e83b'; } /* '' */